.navbar-brand {
  padding-right: 90px;
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.navbar {
  border-radius: 0.5rem; /* Arredonda os cantos da navbar */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites arredondados */
}

/* Estilo para o botão de toggle da navbar (quando visto em dispositivos móveis) */
.navbar-toggler {
  border-radius: 0.25rem; /* Arredonda os cantos do botão de toggle */
}

/* Estilo para os links da navbar */
.navbar-nav .nav-link {
  color: black; /* Define a cor do texto dos links como preto */
  border-radius: 0.25rem; /* Arredonda os cantos dos links */
}

/* Estilo para o menu suspenso */
.dropdown-menu {
  border-radius: 0.5rem; /* Arredonda os cantos do menu suspenso */
}

/* Estilo para os itens do menu suspenso */
.dropdown-menu .dropdown-item {
  border-radius: 0.25rem; /* Arredonda os cantos dos itens do menu suspenso */
}