<div class="container my-5">
    <div class="countdown">
        <div class="text-content">
            <h1>Save 20% or more on Headset</h1>
            <p>Enjoy for a limited time</p>
            <div id="timer">
                <div>
                    <span id="hours"></span>
                    <div class="label">Hours</div>
                </div>
                <div>
                    <span id="minutes"></span>
                    <div class="label">Minutes</div>
                </div>
                <div>
                    <span id="seconds"></span>
                    <div class="label">Seconds</div>
                </div>
            </div>
            <button id="shopNow" class="btn btn-dark">
                SHOP NOW
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
            </button>
            <p class="completionOfPromotion">Ends 18/08. Restrictions apply. See details.</p>
        </div>
        <div class="image-container">
            <img src="/imgs/cardCountdown/Headset.PNG" alt="Headset">
        </div>
    </div>
</div>