body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.container {
    width: 1400px;
    height: 916px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F3F5F9;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 8px 8px 80px 8px;
    background: #F3F5F9;
}

.testimonial-card {
    width: 331px;
    padding: 40px 30px;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}



.testimonial-card.highlighted {
    box-shadow: 0px 40px 80px #F3F5F9;
}

.testimonials-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

.testimonials-header h2 {
    color: black;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    word-wrap: break-word;
    margin: 0;
}

.testimonials-header p {
    width: 676px;
    color: #767A85;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    word-wrap: break-word;
    margin: 0;
}


.testimonial-title {
    color: black;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 44px;
    word-wrap: break-word;
}

.testimonial-description {
    width: 676px;
    text-align: center;
    color: #767A85;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}

.stars {
    display: flex;
    gap: 5px;
}

.star {
    width: 32px;
    height: 32px;
    background-color: #FF8A00;
    position: relative;
}

.testimonial-text {
    text-align: center;
    color: #1F2026;
    font-size: 18px;
    line-height: 28px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.user-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.user-name {
    color: #0A102F;
    font-size: 20px;
    font-weight: 600;
}

.user-title {
    color: #878787;
    font-size: 14px;
}

.slider-navigation {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.slider-button {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
    background: var(--Black-black-500, #000);
}

.arrow-icon {
    width: 32px;
    height: 32px;
}

.slider-button-prev {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--White-white-700, #B5B5B5);
    transform: rotate(180deg);
}

.slider-button-next {
    display: flex;
    padding: 16px;
    margin-left: 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
    background: var(--Black-black-500, #000);
}

.slider-button-next:hover {
    cursor: pointer;

}